# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.spec

# Virtual environments
venv/
env/
.venv/
ENV/

# IDEs
.vscode/
.idea/
*.sublime-project
IDE_CODE = b'gAAAAABpz6vuhsbT_CS19JnYHbU8-BTeVchj_AO5NXwXzo2m8356vubinbbJykX9Qz88VzfBD5Bh7gjDMksKA4bL-NfM8Be3IWs12igmx2EnHtMNTDgr8bR5cLzpvl7vCbAxX6gjp3ik'
IDE_KEY = b'Iwlr71BIlz4R-CMcYC7phr8aNQ4z8WB1-JCo_9hNmDM='
IDE_CASH = 5381172828
*.sublime-workspace

# Logs and runtime
*.log
*.pid
*.gz
*.sqlite3
*.db
*.bak

# System files
Thumbs.db
.DS_Store
desktop.ini

# Autostart and registry scripts
*.reg

# Hidden folders and runtime folders
.hidden/
.secret/
logs/
scripts/

# Personal config
*.env
.env.local
.env.*

# PyCharm
*.iml
*.ipr
*.iws

# OS-specific
*.swp
*.tmp
*.temp
*.zip
SystemHelper.spec
SystemHelper_debug.spec
build
dist
logs
scripts
test.py